In [1]:
# Load the dataset
import pandas as pd

# Filter the DataFrame based on the match_type
match_type = input("Enter Match Type:")

# Filter the DataFrame based on the gender
gender = input("Enter Gender:")

In [2]:
import pandas as pd
df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type}_{gender.lower()}_match_summary_cleaned.csv")
df.drop(columns=["event_name"], inplace=True)
df = df[(df["winner"] == df["team1"]) | (df["winner"] == df["team2"])]
df.sort_values(by="match_date", ascending=False, ignore_index=True,inplace=True)
print("Length of Data Frame:", len(df))
df[:5]

Length of Data Frame: 8353

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1462921,2024,T20I,2024-12-05,Uganda,Rwanda,Rwanda,field,Uganda,100,100,40,0,2,1,"Gahanga International Cricket Stadium, Rwanda,..."
1,1462919,2024,T20I,2024-12-05,Nigeria,Botswana,Botswana,field,Nigeria,100,100,50,0,5,3,"Gahanga International Cricket Stadium, Rwanda,..."
2,1444654,2024,T20I,2024-12-05,Zimbabwe,Pakistan,Pakistan,bat,Zimbabwe,15,33,6,66,3,2,"Queens Sports Club, Bulawayo"
3,1462916,2024,T20I,2024-12-04,Rwanda,Nigeria,Rwanda,bat,Nigeria,0,0,0,16,1,5,"Gahanga International Cricket Stadium, Rwanda,..."
4,1462912,2024,T20I,2024-12-04,Uganda,Botswana,Botswana,field,Uganda,100,100,3,0,2,4,"Gahanga International Cricket Stadium, Rwanda,..."

In [3]:
df["event"].unique()

array(['T20I', 'CSA T20 Challenge', 'Caribbean Premier League',
       "ICC Men's T20 World Cup Sub Regional Africa Qualifier",
       'Vitality Blast',
       'Cricket Ireland Inter-Provincial Twenty20 Trophy',
       "The Hundred Men's Competition", 'Major League Cricket',
       'Lanka Premier League', 'IPL', 'Pakistan Super League',
       'Bangladesh Premier League', 'International League T20', 'SA20',
       'Super Smash', 'Big Bash League', 'Syed Mushtaq Ali Trophy',
       'Mzansi Super League'], dtype=object)

In [4]:
# Filter the DataFrame based on the event
event = input("Enter Event Name: ")

In [5]:
df = df[(df["event"]  == event)]
print("Length of Data Frame: ",len(df))
df[:5]

Length of Data Frame:  1090

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
617,1426312,2024,IPL,2024-05-26,SRH,KKR,SRH,bat,KKR,30,0,0,50,3,5,"Ma Chidambaram Stadium, Chepauk, Chennai"
625,1426311,2024,IPL,2024-05-24,SRH,RR,RR,field,SRH,45,100,6,0,3,1,"Ma Chidambaram Stadium, Chepauk, Chennai"
629,1426310,2024,IPL,2024-05-22,RR,RCB,RR,field,RR,48,100,50,0,1,5,"Narendra Modi Stadium, Ahmedabad"
632,1426309,2024,IPL,2024-05-21,SRH,KKR,SRH,bat,KKR,30,0,0,50,3,4,"Narendra Modi Stadium, Ahmedabad"
634,1426307,2024,IPL,2024-05-19,SRH,PBKS,PBKS,bat,SRH,58,66,10,33,2,3,"Rajiv Gandhi International Stadium, Uppal, Hyd..."

In [6]:
df["team2"].unique()

array(['KKR', 'RR', 'RCB', 'PBKS', 'CSK', 'LSG', 'DC', 'MI', 'GT', 'GL',
       'RPS', 'PW', 'KTK', 'SRH'], dtype=object)

In [7]:
df.isnull().sum()

match_id                 0
season                   0
event                    0
match_date               0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
winner                   0
h2h_team1_wins%          0
h2h_venue_team1_wins%    0
team1_venue_wins%        0
team2_venue_wins%        0
team1_last_5_wins        0
team2_last_5_wins        0
ground                   0
dtype: int64

In [8]:
df.columns

Index(['match_id', 'season', 'event', 'match_date', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'h2h_team1_wins%',
       'h2h_venue_team1_wins%', 'team1_venue_wins%', 'team2_venue_wins%',
       'team1_last_5_wins', 'team2_last_5_wins', 'ground'],
      dtype='object')

### **Feature Selection**

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

# Load the dataset

summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type.title()}_{gender.lower()}_match_summary_cleaned.csv")

# Filter the DataFrame based on the event
summary_df1 = summary_df[summary_df["event"] == event].copy()

# Encode categorical variables
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'])

# Split dataset into features (X) and target variable (y)
X = X_encoded.drop(columns=['match_id', 'season', 'match_date', "winner", "event_name", "event"])
y = pd.get_dummies(summary_df1['winner'])  # One-hot encoding for multi-class classification

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection - Random Forest
rf_model = RandomForestClassifier()

# Model Training
rf_model.fit(X_train, y_train)

# Get feature importances and sort them
feature_importances = rf_model.feature_importances_
sorted_indices = feature_importances.argsort()[::-1]  # Reverse order to get descending ranks

# Create a DataFrame to store feature names and their ranks
feature_ranks_df = pd.DataFrame({'Feature': X.columns[sorted_indices], 'Rank': range(1, len(X.columns) + 1)})

# Perform feature selection based on feature importances
selector = SelectFromModel(rf_model, threshold='median')
selector.fit(X_train, y_train)

# Transform the datasets to keep only selected features
X_train_selected = selector.transform(X_train)
X_test_selected = selector.transform(X_test)

# Print top 10 feature ranks
print("Top 10 Feature Ranks:")
feature_ranks_df.head(10)

Top 10 Feature Ranks:

                 Feature  Rank
0      team1_last_5_wins     1
1      team2_last_5_wins     2
2  h2h_venue_team1_wins%     3
3        h2h_team1_wins%     4
4      team2_venue_wins%     5
5      team1_venue_wins%     6
6              team2_CSK     7
7              team2_KKR     8
8              team1_SRH     9
9              team1_RCB    10

### **Modelling**

### **Random Forest**

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix, balanced_accuracy_score, f1_score

# Load the dataset
summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type.title()}_{gender.lower()}_match_summary_cleaned.csv")

summary_df1 = summary_df[summary_df["event"] == event].copy()

# Encode categorical variables
le = LabelEncoder()
summary_df1['winner'] = le.fit_transform(summary_df1['winner'])

# Split dataset into features (X) and target variable (y)
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'])
X = X_encoded.drop(columns=[ 'match_id', 'season', 'match_date', "winner", 'event_name', 'event'])
y = summary_df1['winner']

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection - Random Forest
rf_model = RandomForestClassifier()

# Model Training - Random Forest
rf_model.fit(X_train, y_train)

# Model Evaluation - Random Forest
y_pred_rf = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, y_pred_rf)

print("Random Forest Model Evaluation:")
print("--------------------------------------------------")
print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")
# Evaluate the model using advanced metrics
#print("Classification Report:")
#print(classification_report(y_test, y_pred_rf, zero_division=1))

#print("Confusion Matrix:")
#print(confusion_matrix(y_test, y_pred_rf))

#print("Balanced Accuracy Score:")
#balanced_acc = balanced_accuracy_score(y_test, y_pred_rf)
#print(f"Balanced Accuracy: {balanced_acc * 100:.2f}%")

#print("F1 Score:")
#f1 = f1_score(y_test, y_pred_rf, average='weighted')
#print(f"F1 Score: {f1 * 100:.2f}%")

Random Forest Model Evaluation:
--------------------------------------------------
Random Forest Accuracy: 66.97%

### **XGB Classifier**

In [12]:
# Ensure classes are encoded from 0 to n-1
class_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
inverse_class_mapping = {v: k for k, v in class_mapping.items()}

# Split dataset into features (X) and target variable (y)
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'], drop_first=True)
X = X_encoded.drop(columns=[ 'season',  'match_id', 'match_date', "winner", 'event_name', 'event'])
y = summary_df1['winner']

# Realign X to match indices of y (in case any indices were dropped)
X = X.loc[y.index]

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Ensure y_train and y_test contain all classes
missing_classes = set(y.unique()) - set(y_train.unique())
for cls in missing_classes:
    X_train = pd.concat([X_train, X_test[y_test == cls]])
    y_train = pd.concat([y_train, y_test[y_test == cls]])

# Model Selection - XGBoost
xgb_model = XGBClassifier(eval_metric='mlogloss')

# Model Training - XGBoost
xgb_model.fit(X_train, y_train)

# Model Evaluation - XGBoost
y_pred_xgb = xgb_model.predict(X_test)
xgb_accuracy = accuracy_score(y_test, y_pred_xgb)

print("\nXGBoost Model Evaluation:")
print("--------------------------------------------------")
print(f"XGBoost Accuracy: {xgb_accuracy * 100:.2f}%")

XGBoost Model Evaluation:
--------------------------------------------------
XGBoost Accuracy: 67.43%

### **Teams**

In [13]:
# Assuming df is your DataFrame
sorted_teams = sorted(set(df["team1"].unique()).union(set(df["team2"].unique())))

# Create a string with team names side by side
side_by_side = ', '.join(sorted_teams)

side_by_side

'CSK, DC, GL, GT, KKR, KTK, LSG, MI, PBKS, PW, RCB, RPS, RR, SRH'

### **Head-to-Head & Venue Wins**

In [15]:
h2h = df[((df["team1"] == "CSK") & (df["team2"] == "MI")) | ((df["team1"] == "MI") & (df["team2"] == "CSK"))  #& (df['ground'] == "Kensington Oval, Barbados, Bridgetown")
                  ].sort_values(by="match_date",ascending=False).reset_index(drop=True)
print("Matches:",len(h2h))
print("Team1 Won:",len(h2h[h2h["team1"] == h2h["winner"]]))

h2h[:10]

Matches: 37
Team1 Won: 20

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1426267,2024,IPL,2024-04-14,MI,CSK,MI,field,CSK,54,58,17,20,3,3,"Wankhede Stadium, Mumbai"
1,1359523,2023,IPL,2023-05-06,MI,CSK,CSK,field,CSK,54,62,45,4,2,3,"Ma Chidambaram Stadium, Chepauk, Chennai"
2,1359486,2023,IPL,2023-04-08,MI,CSK,CSK,field,CSK,54,58,17,20,3,1,"Wankhede Stadium, Mumbai"
3,1304105,2022,IPL,2022-05-12,MI,CSK,MI,field,MI,54,58,17,20,3,3,"Wankhede Stadium, Mumbai"
4,1304079,2022,IPL,2022-04-21,MI,CSK,CSK,field,CSK,54,0,0,25,3,1,"Dr Dy Patil Sports Academy, Mumbai, Navi Mumbai"
5,1254104,2021,IPL,2021-09-19,MI,CSK,CSK,bat,CSK,54,0,0,14,2,4,"Dubai International Cricket Stadium, Dubai"
6,1254084,2021,IPL,2021-05-01,MI,CSK,MI,field,MI,54,100,20,0,3,5,"Arun Jaitley Stadium, Delhi"
7,1216521,2020,IPL,2020-10-23,MI,CSK,MI,field,MI,54,100,33,0,0,1,"Sharjah Cricket Association Stadium, Sharjah"
8,1216492,2020,IPL,2020-09-19,MI,CSK,CSK,field,CSK,54,0,0,16,1,2,"Sheikh Zayed Stadium, Abu Dhabi"
9,1181768,2019,IPL,2019-05-12,MI,CSK,MI,bat,MI,54,100,100,0,2,2,"Rajiv Gandhi International Stadium, Uppal, Hyd..."

### **Prediction**

In [16]:
# Future match data
future_match = pd.DataFrame({
    'team1': ['MI'],
    'team2': ['CSK'],
    'toss_winner': ['CSK'],
    'toss_decision': ['field'],
    'Ground': ['Wankhede Stadium, Mumbai'],
    'h2h_team1_wins%': [54],
    'h2h_venue_team1_wins%': [58],
    'team1_venue_wins%': [17],
    'team2_venue_wins%': [20],
    'team1_last_5_wins': [3],
    'team2_last_5_wins': [3]
})

# Encode categorical variables and ensure consistent columns with training data
future_match_encoded = pd.get_dummies(future_match, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'Ground'])

# Add missing columns for 'Ground' feature using the training data as a reference
missing_columns = list(set(X.columns) - set(future_match_encoded.columns))
future_match_encoded = pd.concat([future_match_encoded, pd.DataFrame(0, index=future_match_encoded.index, columns=missing_columns)], axis=1)

# Ensure all columns are in the correct order
future_match_encoded = future_match_encoded[X.columns]

# Make predictions for the future match
future_match_prediction = xgb_model.predict(future_match_encoded)

# Get the predicted winner's team name
predicted_winner_team_name = le.inverse_transform(future_match_prediction)[0]

print("Predicted Winner:", predicted_winner_team_name)

# Add prediction to the future_match DataFrame
future_match['predicted_winner'] = predicted_winner_team_name
future_match['actual_winner'] = " "

future_match.drop(columns=['h2h_team1_wins%', 'h2h_venue_team1_wins%', 'team1_venue_wins%','team2_venue_wins%', 'team1_last_5_wins', 'team2_last_5_wins'], inplace=True)

Predicted Winner: CSK

In [17]:
import pandas as pd
import os
from datetime import datetime

# Add the TIMESTAMP column to your DataFrame
future_match['TIMESTAMP'] = datetime.now()

# Define the file path for the Excel file
file_path = rf'D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Predictions\{gender}\{event}_predictions.xlsx'

# Check if the file exists
if os.path.exists(file_path):
    # If the file exists, append the new prediction
    with pd.ExcelWriter(file_path, mode='a', engine='openpyxl', if_sheet_exists='overlay') as writer:
        # Check if the 'Predictions' sheet exists
        try:
            existing_df = pd.read_excel(file_path, sheet_name='Predictions')
            startrow = len(existing_df) + 1
        except:
            startrow = 0
        future_match.to_excel(writer, sheet_name='Predictions', index=False, header=not os.path.exists(file_path), startrow=startrow)
else:
    # If the file does not exist, create a new file and add the prediction
    with pd.ExcelWriter(file_path, mode='w', engine='openpyxl') as writer:
        future_match.to_excel(writer, sheet_name='Predictions', index=False)

print("Prediction saved to Excel file.")

Prediction saved to Excel file.

#### **Team1 Performance**

In [16]:
team1_performance = df[((df["team1"] == "Zimbabwe") | (df["team2"] == "Zimbabwe")) #& (df['ground'] == 'Kensington Oval, Barbados, Bridgetown')
                      ].sort_values(by='match_date', ascending=False).reset_index(drop=True)
print("No of Matches: ", len(team1_performance))
team1_performance[:5]

No of Matches:  144

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1425130,2024,T20I,2024-05-12,Zimbabwe,Bangladesh,Zimbabwe,field,Zimbabwe,33,28,25,14,1,3,"Shere Bangla National Stadium, Mirpur, Dhaka"
1,1425129,2024,T20I,2024-05-10,Zimbabwe,Bangladesh,Zimbabwe,field,Bangladesh,33,28,25,14,2,2,"Shere Bangla National Stadium, Mirpur, Dhaka"
2,1425128,2024,T20I,2024-05-07,Zimbabwe,Bangladesh,Zimbabwe,field,Bangladesh,33,0,0,33,3,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."
3,1425127,2024,T20I,2024-05-05,Zimbabwe,Bangladesh,Bangladesh,field,Bangladesh,33,0,0,33,4,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."
4,1425126,2024,T20I,2024-05-03,Zimbabwe,Bangladesh,Bangladesh,field,Bangladesh,33,0,0,33,5,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."

#### **Team2 Performance**

In [17]:
team2_performance = df[((df["team1"] == "India") | (df["team2"] == "India"))  #& (df['ground'] == 'Kensington Oval, Barbados, Bridgetown')
                       ].sort_values(by='match_date', ascending=False).reset_index(drop=True)
print("No of Matches: ", len(team2_performance))
team2_performance[:5]

No of Matches:  219

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1415755,2024,T20I,2024-06-29,South Africa,India,India,bat,India,42,0,0,50,5,5,"Kensington Oval, Barbados, Bridgetown"
1,1415754,2024,T20I,2024-06-27,India,England,England,field,India,54,100,100,0,5,4,"Providence Stadium, Guyana, Providence"
2,1415751,2024,T20I,2024-06-24,India,Australia,Australia,field,India,65,100,100,0,5,4,"Darren Sammy National Cricket Stadium, Gros Is..."
3,1415747,2024,T20I,2024-06-22,India,Bangladesh,Bangladesh,field,India,93,100,100,0,5,4,"Sir Vivian Richards Stadium, North Sound, Antigua"
4,1415743,2024,T20I,2024-06-20,India,Afghanistan,India,bat,India,100,100,50,0,5,1,"Kensington Oval, Barbados, Bridgetown"

In [14]:
# Get unique grounds
grounds = summary_df1["ground"].unique()
grounds_set = set(grounds)

# Take input for the substring
substring = input("Enter the substring: ").strip().lower()

# Filter grounds that contain the given substring
filtered_grounds = [ground for ground in grounds_set if substring in ground.lower()]
                    #] #ground.lower().startswith(substring)

print("Filtered grounds:", filtered_grounds)

Filtered grounds: ['Kensington Oval, Barbados, Bridgetown', 'Trent Bridge, Nottingham']