In [1]:
# Load the dataset
import pandas as pd

# Filter the DataFrame based on the match_type
match_type = input("Enter Match Type:")

# Filter the DataFrame based on the gender
gender = input("Enter Gender:")

In [2]:
import pandas as pd
df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type}_{gender.lower()}_match_summary_cleaned.csv")
df.drop(columns=["event_name"], inplace=True)
df = df[(df["winner"] == df["team1"]) | (df["winner"] == df["team2"])]
df.sort_values(by="match_date", ascending=False, ignore_index=True,inplace=True)
print("Length of Data Frame:", len(df))
df[:5]

Length of Data Frame: 8018

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1438078,2024,T20I,2024-06-18,Estonia,Cyprus,Estonia,bat,Estonia,43,42,42,44,3,1,"Happy Valley Ground, Episkopi"
1,1438077,2024,T20I,2024-06-18,Estonia,Cyprus,Estonia,field,Cyprus,43,42,42,44,3,1,"Happy Valley Ground, Episkopi"
2,1438076,2024,T20I,2024-06-17,Estonia,Cyprus,Cyprus,bat,Estonia,43,42,42,44,2,2,"Happy Valley Ground, Episkopi"
3,1438075,2024,T20I,2024-06-17,Estonia,Cyprus,Cyprus,bat,Estonia,43,42,42,44,1,2,"Happy Valley Ground, Episkopi"
4,1415736,2024,T20I,2024-06-16,Pakistan,Ireland,Pakistan,field,Pakistan,80,100,100,0,1,3,Central Broward Regional Park Stadium Turf Gro...

In [3]:
df["event"].unique()

array(['T20I', 'Vitality Blast',
       'Cricket Ireland Inter-Provincial Twenty20 Trophy', 'IPL',
       'Central American Cricket Championships', 'Pakistan Super League',
       'CSA T20 Challenge', 'Bangladesh Premier League',
       'International League T20', 'SA20', 'Super Smash',
       'Big Bash League', 'Syed Mushtaq Ali Trophy',
       "South American Men's Championships", 'Caribbean Premier League',
       "The Hundred Men's Competition", 'Lanka Premier League',
       'Major League Cricket', 'Mzansi Super League',
       'Afghanistan Premier League'], dtype=object)

In [4]:
# Filter the DataFrame based on the event
event = input("Enter Event Name: ")

In [5]:
df = df[(df["event"]  == event)]
print("Length of Data Frame: ",len(df))
df[:5]

Length of Data Frame:  2533

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1438078,2024,T20I,2024-06-18,Estonia,Cyprus,Estonia,bat,Estonia,43,42,42,44,3,1,"Happy Valley Ground, Episkopi"
1,1438077,2024,T20I,2024-06-18,Estonia,Cyprus,Estonia,field,Cyprus,43,42,42,44,3,1,"Happy Valley Ground, Episkopi"
2,1438076,2024,T20I,2024-06-17,Estonia,Cyprus,Cyprus,bat,Estonia,43,42,42,44,2,2,"Happy Valley Ground, Episkopi"
3,1438075,2024,T20I,2024-06-17,Estonia,Cyprus,Cyprus,bat,Estonia,43,42,42,44,1,2,"Happy Valley Ground, Episkopi"
4,1415736,2024,T20I,2024-06-16,Pakistan,Ireland,Pakistan,field,Pakistan,80,100,100,0,1,3,Central Broward Regional Park Stadium Turf Gro...

In [6]:
df["team2"].unique()

array(['Cyprus', 'Ireland', 'Israel', 'Isle Of Man', 'Romania', 'Denmark',
       'Finland', 'Austria', 'Luxembourg', 'Namibia', 'Australia',
       'Turkey', 'Hungary', 'New Zealand', 'Nepal', 'Italy', 'France',
       'Afghanistan', 'England', 'Bangladesh', 'India', 'Pakistan',
       'Oman', 'Netherlands', 'Uganda', 'Canada',
       'United States Of America', 'Papua New Guinea', 'South Africa',
       'West Indies', 'Bulgaria', 'Gibraltar', 'Japan', 'Belgium',
       'Indonesia', 'Hong Kong', 'Kuwait', 'United Arab Emirates',
       'Qatar', 'Bahrain', 'Malaysia', 'Cambodia', 'Jersey', 'Kenya',
       'Nigeria', 'Ghana', 'Tanzania', 'Scotland', 'Vanuatu', 'China',
       'Saudi Arabia', 'Bhutan', 'Maldives', 'Singapore', 'Thailand',
       'Sri Lanka', 'Rwanda', 'Argentina', 'Bermuda', 'Cayman Islands',
       'Estonia', 'Mongolia', 'Malta', 'Germany', 'Croatia',
       'Philippines', 'Myanmar', 'Switzerland', 'Serbia', 'Botswana',
       'Czech Republic', 'Bahamas', 'Cameroon', 'Gambia', 'Eswatini',
       'Mozambique', 'Sierra Leone', 'Seychelles', 'Malawi', 'Lesotho',
       'St Helena', 'Mali', 'Fiji', 'Cook Islands', 'Samoa', 'Slovenia',
       'Guernsey', 'Norway', 'Sweden', 'Greece', 'Spain', 'Portugal',
       'Belize', 'Panama', 'Icc World Xi', 'Zimbabwe'], dtype=object)

In [7]:
df.isnull().sum()

match_id                 0
season                   0
event                    0
match_date               0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
winner                   0
h2h_team1_wins%          0
h2h_venue_team1_wins%    0
team1_venue_wins%        0
team2_venue_wins%        0
team1_last_5_wins        0
team2_last_5_wins        0
ground                   0
dtype: int64

In [8]:
df.columns

Index(['match_id', 'season', 'event', 'match_date', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'h2h_team1_wins%',
       'h2h_venue_team1_wins%', 'team1_venue_wins%', 'team2_venue_wins%',
       'team1_last_5_wins', 'team2_last_5_wins', 'ground'],
      dtype='object')

### **Feature Selection**

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

# Load the dataset

summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type.title()}_{gender.lower()}_match_summary_cleaned.csv")

# Filter the DataFrame based on the event
summary_df1 = summary_df[summary_df["event"] == event].copy()

# Encode categorical variables
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'])

# Split dataset into features (X) and target variable (y)
X = X_encoded.drop(columns=['match_id', 'season', 'match_date', "winner", "event_name", "event"])
y = pd.get_dummies(summary_df1['winner'])  # One-hot encoding for multi-class classification

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection - Random Forest
rf_model = RandomForestClassifier()

# Model Training
rf_model.fit(X_train, y_train)

# Get feature importances and sort them
feature_importances = rf_model.feature_importances_
sorted_indices = feature_importances.argsort()[::-1]  # Reverse order to get descending ranks

# Create a DataFrame to store feature names and their ranks
feature_ranks_df = pd.DataFrame({'Feature': X.columns[sorted_indices], 'Rank': range(1, len(X.columns) + 1)})

# Perform feature selection based on feature importances
selector = SelectFromModel(rf_model, threshold='median')
selector.fit(X_train, y_train)

# Transform the datasets to keep only selected features
X_train_selected = selector.transform(X_train)
X_test_selected = selector.transform(X_test)

# Print top 10 feature ranks
print("Top 10 Feature Ranks:")
feature_ranks_df.head(10)

Top 10 Feature Ranks:

                 Feature  Rank
0  h2h_venue_team1_wins%     1
1      team2_last_5_wins     2
2      team2_venue_wins%     3
3      team1_venue_wins%     4
4      team1_last_5_wins     5
5        h2h_team1_wins%     6
6        team2_Australia     7
7            team2_India     8
8      toss_decision_bat     9
9    toss_decision_field    10

### **Modelling**

### **Random Forest & XGB Classifier**

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix, balanced_accuracy_score, f1_score

# Load the dataset
summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type.title()}_{gender.lower()}_match_summary_cleaned.csv")

summary_df1 = summary_df[summary_df["event"] == event].copy()

# Encode categorical variables
le = LabelEncoder()
summary_df1['winner'] = le.fit_transform(summary_df1['winner'])

# Split dataset into features (X) and target variable (y)
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'])
X = X_encoded.drop(columns=[ 'match_id', 'season', 'match_date', "winner", 'event_name', 'event'])
y = summary_df1['winner']

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection - Random Forest
rf_model = RandomForestClassifier()

# Model Training - Random Forest
rf_model.fit(X_train, y_train)

# Model Evaluation - Random Forest
y_pred_rf = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, y_pred_rf)

print("Random Forest Model Evaluation:")
print("--------------------------------------------------")
print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")
# Evaluate the model using advanced metrics
#print("Classification Report:")
#print(classification_report(y_test, y_pred_rf, zero_division=1))

#print("Confusion Matrix:")
#print(confusion_matrix(y_test, y_pred_rf))

#print("Balanced Accuracy Score:")
#balanced_acc = balanced_accuracy_score(y_test, y_pred_rf)
#print(f"Balanced Accuracy: {balanced_acc * 100:.2f}%")

#print("F1 Score:")
#f1 = f1_score(y_test, y_pred_rf, average='weighted')
#print(f"F1 Score: {f1 * 100:.2f}%")

Random Forest Model Evaluation:
--------------------------------------------------
Random Forest Accuracy: 75.35%

### **XGB Classifier**

In [11]:
# Ensure classes are encoded from 0 to n-1
class_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
inverse_class_mapping = {v: k for k, v in class_mapping.items()}

# Split dataset into features (X) and target variable (y)
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'], drop_first=True)
X = X_encoded.drop(columns=[ 'season',  'match_id', 'match_date', "winner", 'event_name', 'event'])
y = summary_df1['winner']

# Realign X to match indices of y (in case any indices were dropped)
X = X.loc[y.index]

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Ensure y_train and y_test contain all classes
missing_classes = set(y.unique()) - set(y_train.unique())
for cls in missing_classes:
    X_train = pd.concat([X_train, X_test[y_test == cls]])
    y_train = pd.concat([y_train, y_test[y_test == cls]])

# Model Selection - XGBoost
xgb_model = XGBClassifier(eval_metric='mlogloss')

# Model Training - XGBoost
xgb_model.fit(X_train, y_train)

# Model Evaluation - XGBoost
y_pred_xgb = xgb_model.predict(X_test)
xgb_accuracy = accuracy_score(y_test, y_pred_xgb)

print("\nXGBoost Model Evaluation:")
print("--------------------------------------------------")
print(f"XGBoost Accuracy: {xgb_accuracy * 100:.2f}%")

XGBoost Model Evaluation:
--------------------------------------------------
XGBoost Accuracy: 76.92%

### **Teams**

In [12]:
# Assuming df is your DataFrame
sorted_teams = sorted(set(df["team1"].unique()).union(set(df["team2"].unique())))

# Create a string with team names side by side
side_by_side = ', '.join(sorted_teams)

side_by_side

'Afghanistan, Argentina, Australia, Austria, Bahamas, Bahrain, Bangladesh, Belgium, Belize, Bermuda, Bhutan, Botswana, Bulgaria, Cambodia, Cameroon, Canada, Cayman Islands, Chile, China, Cook Islands, Croatia, Cyprus, Czech Republic, Denmark, England, Estonia, Eswatini, Fiji, Finland, France, Gambia, Germany, Ghana, Gibraltar, Greece, Guernsey, Hong Kong, Hungary, Icc World Xi, India, Indonesia, Iran, Ireland, Isle Of Man, Israel, Italy, Japan, Jersey, Kenya, Kuwait, Lesotho, Luxembourg, Malawi, Malaysia, Maldives, Mali, Malta, Mexico, Mongolia, Mozambique, Myanmar, Namibia, Nepal, Netherlands, New Zealand, Nigeria, Norway, Oman, Pakistan, Panama, Papua New Guinea, Philippines, Portugal, Qatar, Romania, Rwanda, Samoa, Saudi Arabia, Scotland, Serbia, Seychelles, Sierra Leone, Singapore, Slovenia, South Africa, South Korea, Spain, Sri Lanka, St Helena, Swaziland, Sweden, Switzerland, Tanzania, Thailand, Turkey, Uganda, United Arab Emirates, United States Of America, Vanuatu, West Indies, Zimbabwe'

### **Head-to-Head & Venue Wins**

In [14]:
head_to_head = df[((df["team1"] == "Australia") & (df["team2"] == "Bangladesh")) | ((df["team1"] == "Bangladesh") & (df["team2"] == "Australia"))].sort_values(by="match_date",ascending=False).reset_index(drop=True)
print("Matches:",len(head_to_head))
print("Team1 Won:",len(head_to_head[head_to_head["team1"] == head_to_head["winner"]]))
#print("Team1 Venue Wins:",len(head_to_head[(head_to_head["team1"] == head_to_head["Winner"]) & (head_to_head["Ground"] == "MA Chidambaram Stadium, Chepauk, Chennai")]))
#print("Team1 Win Percentage",head_to_head["team1_win%"].unique(),"%")

head_to_head[:10]

Matches: 10
Team1 Won: 4

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1273745,2021,T20I,2021-11-04,Bangladesh,Australia,Australia,field,Australia,40,0,0,8,4,4,"Dubai International Cricket Stadium, Dubai"
1,1270838,2021,T20I,2021-08-09,Bangladesh,Australia,Bangladesh,bat,Bangladesh,40,66,40,22,3,2,"Shere Bangla National Stadium, Mirpur, Dhaka"
2,1270837,2021,T20I,2021-08-07,Bangladesh,Australia,Bangladesh,bat,Australia,40,66,40,22,2,1,"Shere Bangla National Stadium, Mirpur, Dhaka"
3,1270836,2021,T20I,2021-08-06,Bangladesh,Australia,Bangladesh,bat,Bangladesh,40,66,40,22,2,1,"Shere Bangla National Stadium, Mirpur, Dhaka"
4,1270835,2021,T20I,2021-08-04,Bangladesh,Australia,Australia,bat,Bangladesh,40,66,40,22,3,1,"Shere Bangla National Stadium, Mirpur, Dhaka"
5,1270834,2021,T20I,2021-08-03,Bangladesh,Australia,Australia,field,Bangladesh,40,66,40,22,2,1,"Shere Bangla National Stadium, Mirpur, Dhaka"
6,951347,2016,T20I,2016-03-21,Bangladesh,Australia,Australia,field,Australia,40,0,0,33,4,4,"M Chinnaswamy Stadium, Bengaluru"
7,682957,2014,T20I,2014-04-01,Bangladesh,Australia,Bangladesh,bat,Australia,40,66,40,22,4,2,"Shere Bangla National Stadium, Mirpur, Dhaka"
8,412688,2010,T20I,2010-05-05,Bangladesh,Australia,Australia,bat,Australia,40,0,0,14,4,4,"Kensington Oval, Barbados, Bridgetown"
9,287866,2007,T20I,2007-09-16,Bangladesh,Australia,Australia,field,Australia,40,0,0,14,3,3,"Newlands, Cape Town"

### **Prediction**

In [18]:
# Future match data
future_match = pd.DataFrame({
    'team1': ['Bangladesh'],
    'team2': ['Australia'],
    'toss_winner': ['Australia'],
    'toss_decision': ['field'],
    'Ground': ['Sir Vivian Richards Stadium, North Sound, Antigua'],
    'h2h_team1_wins%': [40],
    'h2h_venue_team1_wins%': [50],
    'team1_venue_wins%': [50],
    'team2_venue_wins%': [100],
    'team1_last_5_wins': [5],
    'team2_last_5_wins': [2]
})

# Encode categorical variables and ensure consistent columns with training data
future_match_encoded = pd.get_dummies(future_match, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'Ground'])

# Add missing columns for 'Ground' feature using the training data as a reference
missing_columns = list(set(X.columns) - set(future_match_encoded.columns))
future_match_encoded = pd.concat([future_match_encoded, pd.DataFrame(0, index=future_match_encoded.index, columns=missing_columns)], axis=1)

# Ensure all columns are in the correct order
future_match_encoded = future_match_encoded[X.columns]

# Make predictions for the future match
future_match_prediction = xgb_model.predict(future_match_encoded)

# Get the predicted winner's team name
predicted_winner_team_name = le.inverse_transform(future_match_prediction)[0]

print("Predicted Winner:", predicted_winner_team_name)

# Add prediction to the future_match DataFrame
future_match['predicted_winner'] = predicted_winner_team_name
future_match['actual_winner'] = " "

future_match.drop(columns=['h2h_team1_wins%', 'h2h_venue_team1_wins%', 'team1_venue_wins%','team2_venue_wins%', 'team1_last_5_wins', 'team2_last_5_wins'], inplace=True)

Predicted Winner: Australia

In [21]:
import pandas as pd
import os
from datetime import datetime

# Add the TIMESTAMP column to your DataFrame
future_match['TIMESTAMP'] = datetime.now()

# Define the file path for the Excel file
file_path = rf'D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Predictions\{gender}\{event}_predictions.xlsx'

# Check if the file exists
if os.path.exists(file_path):
    # If the file exists, append the new prediction
    with pd.ExcelWriter(file_path, mode='a', engine='openpyxl', if_sheet_exists='overlay') as writer:
        # Check if the 'Predictions' sheet exists
        try:
            existing_df = pd.read_excel(file_path, sheet_name='Predictions')
            startrow = len(existing_df) + 1
        except:
            startrow = 0
        future_match.to_excel(writer, sheet_name='Predictions', index=False, header=not os.path.exists(file_path), startrow=startrow)
else:
    # If the file does not exist, create a new file and add the prediction
    with pd.ExcelWriter(file_path, mode='w', engine='openpyxl') as writer:
        future_match.to_excel(writer, sheet_name='Predictions', index=False)

print("Prediction saved to Excel file.")

Prediction saved to Excel file.

#### **Team1 Performance**

In [17]:
team1_performance = df[((df["team1"] == "Bangladesh") | (df["team2"] == "Bangladesh")) & (df['ground'] == "Sir Vivian Richards Stadium, North Sound, Antigua")
                      ].sort_values(by='match_date', ascending=False).reset_index(drop=True)
print("No of Matches: ", len(team1_performance))
team1_performance[:5]

No of Matches:  0

Empty DataFrame
Columns: [match_id, season, event, match_date, team1, team2, toss_winner, toss_decision, winner, h2h_team1_wins%, h2h_venue_team1_wins%, team1_venue_wins%, team2_venue_wins%, team1_last_5_wins, team2_last_5_wins, ground]
Index: []

#### **Team2 Performance**

In [16]:
team2_performance = df[((df["team1"] == "Australia") | (df["team2"] == "Australia"))].sort_values(by='match_date', ascending=False).reset_index(drop=True)
print("No of Matches: ", len(team2_performance))
team2_performance[:5]

No of Matches:  188

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1415735,2024,T20I,2024-06-15,Scotland,Australia,Australia,field,Australia,0,0,0,16,3,5,"Darren Sammy National Cricket Stadium, Gros Is..."
1,1415724,2024,T20I,2024-06-11,Namibia,Australia,Australia,field,Australia,0,0,0,100,3,5,"Sir Vivian Richards Stadium, North Sound, Antigua"
2,1415717,2024,T20I,2024-06-08,England,Australia,England,field,Australia,50,50,50,14,3,4,"Kensington Oval, Barbados, Bridgetown"
3,1415710,2024,T20I,2024-06-05,Australia,Oman,Oman,field,Australia,100,100,100,0,5,2,"Kensington Oval, Barbados, Bridgetown"
4,1388225,2024,T20I,2024-02-25,New Zealand,Australia,New Zealand,field,Australia,32,0,0,100,2,4,"Eden Park, Auckland"

In [14]:
# Get unique grounds
grounds = summary_df1["ground"].unique()
grounds_set = set(grounds)

# Take input for the substring
substring = input("Enter the substring: ").strip().lower()

# Filter grounds that contain the given substring
filtered_grounds = [ground for ground in grounds_set if substring in ground.lower()]
                    #] #ground.lower().startswith(substring)

print("Filtered grounds:", filtered_grounds)

Filtered grounds: ['Kensington Oval, Barbados, Bridgetown', 'Trent Bridge, Nottingham']