In [1]:
# Load the dataset
import pandas as pd

# Filter the DataFrame based on the match_type
match_type = input("Enter Match Type:")

# Filter the DataFrame based on the gender
gender = input("Enter Gender:")

In [3]:
import pandas as pd
df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type}_{gender.lower()}_match_summary_cleaned.csv")
df.drop(columns=["event_name"], inplace=True)
df = df[(df["winner"] == df["team1"]) | (df["winner"] == df["team2"])]
df.sort_values(by="match_date", ascending=False, ignore_index=True,inplace=True)
print("Length of Data Frame:", len(df))
df[:5]

Length of Data Frame: 8059

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1441136,2024,T20I,2024-07-01,Malawi,Kenya,Kenya,field,Kenya,0,0,0,50,4,2,"Sikh Union Club Ground, Nairobi"
1,1428459,2024,Lanka Premier League,2024-07-01,Dambulla Sixers,Kandy Falcons,Kandy Falcons,field,Kandy Falcons,0,0,0,100,0,3,Pallekele International Cricket Stadium
2,1415755,2024,T20I,2024-06-29,South Africa,India,India,bat,India,42,0,0,50,5,5,"Kensington Oval, Barbados, Bridgetown"
3,1441135,2024,T20I,2024-06-29,Rwanda,Kenya,Rwanda,bat,Kenya,0,0,0,50,0,1,"Sikh Union Club Ground, Nairobi"
4,1441133,2024,T20I,2024-06-28,Rwanda,Malawi,Malawi,bat,Malawi,0,0,0,100,0,4,"Sikh Union Club Ground, Nairobi"

In [4]:
df["event"].unique()

array(['T20I', 'Lanka Premier League', 'Vitality Blast',
       'Cricket Ireland Inter-Provincial Twenty20 Trophy', 'IPL',
       'Pakistan Super League', 'CSA T20 Challenge',
       'Bangladesh Premier League', 'International League T20', 'SA20',
       'Super Smash', 'Big Bash League', 'Syed Mushtaq Ali Trophy',
       'Caribbean Premier League', "The Hundred Men's Competition",
       'Major League Cricket', 'Mzansi Super League',
       'Afghanistan Premier League'], dtype=object)

In [4]:
# Filter the DataFrame based on the event
event = input("Enter Event Name: ")

In [5]:
df = df[(df["event"]  == event)]
print("Length of Data Frame: ",len(df))
df[:5]

Length of Data Frame:  2565

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1441136,2024,T20I,2024-07-01,Malawi,Kenya,Kenya,field,Kenya,0,0,0,50,4,2,"Sikh Union Club Ground, Nairobi"
2,1415755,2024,T20I,2024-06-29,South Africa,India,India,bat,India,42,0,0,50,5,5,"Kensington Oval, Barbados, Bridgetown"
3,1441135,2024,T20I,2024-06-29,Rwanda,Kenya,Rwanda,bat,Kenya,0,0,0,50,0,1,"Sikh Union Club Ground, Nairobi"
4,1441133,2024,T20I,2024-06-28,Rwanda,Malawi,Malawi,bat,Malawi,0,0,0,100,0,4,"Sikh Union Club Ground, Nairobi"
5,1415754,2024,T20I,2024-06-27,India,England,England,field,India,54,100,100,0,5,4,"Providence Stadium, Guyana, Providence"

In [6]:
df["team2"].unique()

array(['Kenya', 'India', 'Malawi', 'England', 'Afghanistan', 'Australia',
       'South Africa', 'Guernsey', 'Bangladesh', 'West Indies', 'Cyprus',
       'United States Of America', 'New Zealand', 'Ireland',
       'Netherlands', 'Israel', 'Austria', 'Isle Of Man', 'Romania',
       'Denmark', 'Finland', 'Luxembourg', 'Turkey', 'Hungary', 'Namibia',
       'Nepal', 'Italy', 'France', 'Pakistan', 'Oman', 'Uganda', 'Canada',
       'Papua New Guinea', 'Bulgaria', 'Gibraltar', 'Japan', 'Belgium',
       'Indonesia', 'Hong Kong', 'United Arab Emirates', 'Kuwait',
       'Bahrain', 'Qatar', 'Malaysia', 'Costa Rica', 'Jersey', 'Cambodia',
       'Nigeria', 'Ghana', 'Tanzania', 'Scotland', 'Vanuatu', 'China',
       'Saudi Arabia', 'Bhutan', 'Maldives', 'Singapore', 'Thailand',
       'Sri Lanka', 'Rwanda', 'Argentina', 'Mexico', 'Bermuda',
       'Cayman Islands', 'Estonia', 'Mongolia', 'Malta', 'Germany',
       'Croatia', 'Philippines', 'Myanmar', 'Switzerland', 'Serbia',
       'Botswana', 'Czech Republic', 'Bahamas', 'Cameroon', 'Gambia',
       'Eswatini', 'Mozambique', 'Sierra Leone', 'Seychelles', 'Lesotho',
       'St Helena', 'Mali', 'Cook Islands', 'Fiji', 'Samoa', 'Slovenia',
       'Norway', 'Sweden', 'Greece', 'Portugal', 'Spain', 'Belize',
       'Panama', 'Icc World Xi', 'Zimbabwe'], dtype=object)

In [7]:
df.isnull().sum()

match_id                 0
season                   0
event                    0
match_date               0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
winner                   0
h2h_team1_wins%          0
h2h_venue_team1_wins%    0
team1_venue_wins%        0
team2_venue_wins%        0
team1_last_5_wins        0
team2_last_5_wins        0
ground                   0
dtype: int64

In [8]:
df.columns

Index(['match_id', 'season', 'event', 'match_date', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'h2h_team1_wins%',
       'h2h_venue_team1_wins%', 'team1_venue_wins%', 'team2_venue_wins%',
       'team1_last_5_wins', 'team2_last_5_wins', 'ground'],
      dtype='object')

### **Feature Selection**

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

# Load the dataset

summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type.title()}_{gender.lower()}_match_summary_cleaned.csv")

# Filter the DataFrame based on the event
summary_df1 = summary_df[summary_df["event"] == event].copy()

# Encode categorical variables
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'])

# Split dataset into features (X) and target variable (y)
X = X_encoded.drop(columns=['match_id', 'season', 'match_date', "winner", "event_name", "event"])
y = pd.get_dummies(summary_df1['winner'])  # One-hot encoding for multi-class classification

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection - Random Forest
rf_model = RandomForestClassifier()

# Model Training
rf_model.fit(X_train, y_train)

# Get feature importances and sort them
feature_importances = rf_model.feature_importances_
sorted_indices = feature_importances.argsort()[::-1]  # Reverse order to get descending ranks

# Create a DataFrame to store feature names and their ranks
feature_ranks_df = pd.DataFrame({'Feature': X.columns[sorted_indices], 'Rank': range(1, len(X.columns) + 1)})

# Perform feature selection based on feature importances
selector = SelectFromModel(rf_model, threshold='median')
selector.fit(X_train, y_train)

# Transform the datasets to keep only selected features
X_train_selected = selector.transform(X_train)
X_test_selected = selector.transform(X_test)

# Print top 10 feature ranks
print("Top 10 Feature Ranks:")
feature_ranks_df.head(10)

Top 10 Feature Ranks:

                 Feature  Rank
0      team1_venue_wins%     1
1  h2h_venue_team1_wins%     2
2      team2_venue_wins%     3
3      team2_last_5_wins     4
4      team1_last_5_wins     5
5        h2h_team1_wins%     6
6        team2_Australia     7
7            team2_India     8
8      team2_Afghanistan     9
9      toss_decision_bat    10

### **Modelling**

### **Random Forest**

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix, balanced_accuracy_score, f1_score

# Load the dataset
summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type.title()}_{gender.lower()}_match_summary_cleaned.csv")

summary_df1 = summary_df[summary_df["event"] == event].copy()

# Encode categorical variables
le = LabelEncoder()
summary_df1['winner'] = le.fit_transform(summary_df1['winner'])

# Split dataset into features (X) and target variable (y)
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'])
X = X_encoded.drop(columns=[ 'match_id', 'season', 'match_date', "winner", 'event_name', 'event'])
y = summary_df1['winner']

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection - Random Forest
rf_model = RandomForestClassifier()

# Model Training - Random Forest
rf_model.fit(X_train, y_train)

# Model Evaluation - Random Forest
y_pred_rf = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, y_pred_rf)

print("Random Forest Model Evaluation:")
print("--------------------------------------------------")
print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")
# Evaluate the model using advanced metrics
#print("Classification Report:")
#print(classification_report(y_test, y_pred_rf, zero_division=1))

#print("Confusion Matrix:")
#print(confusion_matrix(y_test, y_pred_rf))

#print("Balanced Accuracy Score:")
#balanced_acc = balanced_accuracy_score(y_test, y_pred_rf)
#print(f"Balanced Accuracy: {balanced_acc * 100:.2f}%")

#print("F1 Score:")
#f1 = f1_score(y_test, y_pred_rf, average='weighted')
#print(f"F1 Score: {f1 * 100:.2f}%")

Random Forest Model Evaluation:
--------------------------------------------------
Random Forest Accuracy: 77.00%

### **XGB Classifier**

In [11]:
# Ensure classes are encoded from 0 to n-1
class_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
inverse_class_mapping = {v: k for k, v in class_mapping.items()}

# Split dataset into features (X) and target variable (y)
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'], drop_first=True)
X = X_encoded.drop(columns=[ 'season',  'match_id', 'match_date', "winner", 'event_name', 'event'])
y = summary_df1['winner']

# Realign X to match indices of y (in case any indices were dropped)
X = X.loc[y.index]

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Ensure y_train and y_test contain all classes
missing_classes = set(y.unique()) - set(y_train.unique())
for cls in missing_classes:
    X_train = pd.concat([X_train, X_test[y_test == cls]])
    y_train = pd.concat([y_train, y_test[y_test == cls]])

# Model Selection - XGBoost
xgb_model = XGBClassifier(eval_metric='mlogloss')

# Model Training - XGBoost
xgb_model.fit(X_train, y_train)

# Model Evaluation - XGBoost
y_pred_xgb = xgb_model.predict(X_test)
xgb_accuracy = accuracy_score(y_test, y_pred_xgb)

print("\nXGBoost Model Evaluation:")
print("--------------------------------------------------")
print(f"XGBoost Accuracy: {xgb_accuracy * 100:.2f}%")

XGBoost Model Evaluation:
--------------------------------------------------
XGBoost Accuracy: 77.97%

### **Teams**

In [12]:
# Assuming df is your DataFrame
sorted_teams = sorted(set(df["team1"].unique()).union(set(df["team2"].unique())))

# Create a string with team names side by side
side_by_side = ', '.join(sorted_teams)

side_by_side

'Afghanistan, Argentina, Australia, Austria, Bahamas, Bahrain, Bangladesh, Belgium, Belize, Bermuda, Bhutan, Botswana, Bulgaria, Cambodia, Cameroon, Canada, Cayman Islands, Chile, China, Cook Islands, Costa Rica, Croatia, Cyprus, Czech Republic, Denmark, England, Estonia, Eswatini, Fiji, Finland, France, Gambia, Germany, Ghana, Gibraltar, Greece, Guernsey, Hong Kong, Hungary, Icc World Xi, India, Indonesia, Iran, Ireland, Isle Of Man, Israel, Italy, Japan, Jersey, Kenya, Kuwait, Lesotho, Luxembourg, Malawi, Malaysia, Maldives, Mali, Malta, Mexico, Mongolia, Mozambique, Myanmar, Namibia, Nepal, Netherlands, New Zealand, Nigeria, Norway, Oman, Pakistan, Panama, Papua New Guinea, Philippines, Portugal, Qatar, Romania, Rwanda, Samoa, Saudi Arabia, Scotland, Serbia, Seychelles, Sierra Leone, Singapore, Slovenia, South Africa, South Korea, Spain, Sri Lanka, St Helena, Swaziland, Sweden, Switzerland, Tanzania, Thailand, Turkey, Uganda, United Arab Emirates, United States Of America, Vanuatu, West Indies, Zimbabwe'

### **Head-to-Head & Venue Wins**

In [15]:
h2h = df[((df["team1"] == "India") & (df["team2"] == "Zimbabwe")) | ((df["team1"] == "Zimbabwe") & (df["team2"] == "India"))  #& (df['ground'] == "Kensington Oval, Barbados, Bridgetown")
                  ].sort_values(by="match_date",ascending=False).reset_index(drop=True)
print("Matches:",len(h2h))
print("Team1 Won:",len(h2h[h2h["team1"] == h2h["winner"]]))

h2h[:10]

Matches: 8
Team1 Won: 2

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1298176,2022,T20I,2022-11-06,Zimbabwe,India,India,bat,India,25,0,0,50,1,3,"Melbourne Cricket Ground, Melbourne"
1,1007659,2016,T20I,2016-06-22,Zimbabwe,India,Zimbabwe,field,India,25,28,5,71,3,4,"Harare Sports Club, Harare"
2,1007657,2016,T20I,2016-06-20,Zimbabwe,India,Zimbabwe,bat,India,25,28,5,71,4,4,"Harare Sports Club, Harare"
3,1007655,2016,T20I,2016-06-18,Zimbabwe,India,India,field,Zimbabwe,25,28,5,71,4,4,"Harare Sports Club, Harare"
4,885971,2015,T20I,2015-07-19,Zimbabwe,India,Zimbabwe,bat,Zimbabwe,25,28,5,71,2,2,"Harare Sports Club, Harare"
5,885969,2015,T20I,2015-07-17,Zimbabwe,India,India,bat,India,25,28,5,71,2,1,"Harare Sports Club, Harare"
6,452154,2010,T20I,2010-06-13,Zimbabwe,India,India,field,India,25,28,5,71,0,5,"Harare Sports Club, Harare"
7,452153,2010,T20I,2010-06-12,Zimbabwe,India,India,field,India,25,28,5,71,1,4,"Harare Sports Club, Harare"

### **Prediction**

In [18]:
# Future match data
future_match = pd.DataFrame({
    'team1': ['Zimbabwe'],
    'team2': ['India'],
    'toss_winner': ['India'],
    'toss_decision': ['field'],
    'Ground': ['Harare Sports Club, Harare'],
    'h2h_team1_wins%': [25],
    'h2h_venue_team1_wins%': [28],
    'team1_venue_wins%': [5],
    'team2_venue_wins%': [71],
    'team1_last_5_wins': [1],
    'team2_last_5_wins': [5]
})

# Encode categorical variables and ensure consistent columns with training data
future_match_encoded = pd.get_dummies(future_match, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'Ground'])

# Add missing columns for 'Ground' feature using the training data as a reference
missing_columns = list(set(X.columns) - set(future_match_encoded.columns))
future_match_encoded = pd.concat([future_match_encoded, pd.DataFrame(0, index=future_match_encoded.index, columns=missing_columns)], axis=1)

# Ensure all columns are in the correct order
future_match_encoded = future_match_encoded[X.columns]

# Make predictions for the future match
future_match_prediction = xgb_model.predict(future_match_encoded)

# Get the predicted winner's team name
predicted_winner_team_name = le.inverse_transform(future_match_prediction)[0]

print("Predicted Winner:", predicted_winner_team_name)

# Add prediction to the future_match DataFrame
future_match['predicted_winner'] = predicted_winner_team_name
future_match['actual_winner'] = " "

future_match.drop(columns=['h2h_team1_wins%', 'h2h_venue_team1_wins%', 'team1_venue_wins%','team2_venue_wins%', 'team1_last_5_wins', 'team2_last_5_wins'], inplace=True)

Predicted Winner: India

In [28]:
import pandas as pd
import os
from datetime import datetime

# Add the TIMESTAMP column to your DataFrame
future_match['TIMESTAMP'] = datetime.now()

# Define the file path for the Excel file
file_path = rf'D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Predictions\{gender}\{event}_predictions.xlsx'

# Check if the file exists
if os.path.exists(file_path):
    # If the file exists, append the new prediction
    with pd.ExcelWriter(file_path, mode='a', engine='openpyxl', if_sheet_exists='overlay') as writer:
        # Check if the 'Predictions' sheet exists
        try:
            existing_df = pd.read_excel(file_path, sheet_name='Predictions')
            startrow = len(existing_df) + 1
        except:
            startrow = 0
        future_match.to_excel(writer, sheet_name='Predictions', index=False, header=not os.path.exists(file_path), startrow=startrow)
else:
    # If the file does not exist, create a new file and add the prediction
    with pd.ExcelWriter(file_path, mode='w', engine='openpyxl') as writer:
        future_match.to_excel(writer, sheet_name='Predictions', index=False)

print("Prediction saved to Excel file.")

Prediction saved to Excel file.

#### **Team1 Performance**

In [16]:
team1_performance = df[((df["team1"] == "Zimbabwe") | (df["team2"] == "Zimbabwe")) #& (df['ground'] == 'Kensington Oval, Barbados, Bridgetown')
                      ].sort_values(by='match_date', ascending=False).reset_index(drop=True)
print("No of Matches: ", len(team1_performance))
team1_performance[:5]

No of Matches:  144

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1425130,2024,T20I,2024-05-12,Zimbabwe,Bangladesh,Zimbabwe,field,Zimbabwe,33,28,25,14,1,3,"Shere Bangla National Stadium, Mirpur, Dhaka"
1,1425129,2024,T20I,2024-05-10,Zimbabwe,Bangladesh,Zimbabwe,field,Bangladesh,33,28,25,14,2,2,"Shere Bangla National Stadium, Mirpur, Dhaka"
2,1425128,2024,T20I,2024-05-07,Zimbabwe,Bangladesh,Zimbabwe,field,Bangladesh,33,0,0,33,3,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."
3,1425127,2024,T20I,2024-05-05,Zimbabwe,Bangladesh,Bangladesh,field,Bangladesh,33,0,0,33,4,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."
4,1425126,2024,T20I,2024-05-03,Zimbabwe,Bangladesh,Bangladesh,field,Bangladesh,33,0,0,33,5,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."

#### **Team2 Performance**

In [17]:
team2_performance = df[((df["team1"] == "India") | (df["team2"] == "India"))  #& (df['ground'] == 'Kensington Oval, Barbados, Bridgetown')
                       ].sort_values(by='match_date', ascending=False).reset_index(drop=True)
print("No of Matches: ", len(team2_performance))
team2_performance[:5]

No of Matches:  219

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1415755,2024,T20I,2024-06-29,South Africa,India,India,bat,India,42,0,0,50,5,5,"Kensington Oval, Barbados, Bridgetown"
1,1415754,2024,T20I,2024-06-27,India,England,England,field,India,54,100,100,0,5,4,"Providence Stadium, Guyana, Providence"
2,1415751,2024,T20I,2024-06-24,India,Australia,Australia,field,India,65,100,100,0,5,4,"Darren Sammy National Cricket Stadium, Gros Is..."
3,1415747,2024,T20I,2024-06-22,India,Bangladesh,Bangladesh,field,India,93,100,100,0,5,4,"Sir Vivian Richards Stadium, North Sound, Antigua"
4,1415743,2024,T20I,2024-06-20,India,Afghanistan,India,bat,India,100,100,50,0,5,1,"Kensington Oval, Barbados, Bridgetown"

In [14]:
# Get unique grounds
grounds = summary_df1["ground"].unique()
grounds_set = set(grounds)

# Take input for the substring
substring = input("Enter the substring: ").strip().lower()

# Filter grounds that contain the given substring
filtered_grounds = [ground for ground in grounds_set if substring in ground.lower()]
                    #] #ground.lower().startswith(substring)

print("Filtered grounds:", filtered_grounds)

Filtered grounds: ['Kensington Oval, Barbados, Bridgetown', 'Trent Bridge, Nottingham']