### **Genders Are male & female**

### **Match Types Are: ODI, T20, Test, MDM, ODM**

In [1]:
# Load the dataset
import pandas as pd


# Filter the DataFrame based on the match_type
match_type = input("Enter Match Type:")

# Filter the DataFrame based on the gender
gender = input("Enter Gender:")

In [2]:
import pandas as pd
df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type}_{gender.lower()}_match_summary_cleaned.csv")
df.drop(columns=["event_name"], inplace=True)
df = df[(df["winner"] == df["team1"]) | (df["winner"] == df["team2"])]
df.sort_values(by="match_date", ascending=False, ignore_index=True,inplace=True)
print("Length of Data Frame:", len(df))
df[:5]

Length of Data Frame: 2304

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1466424,2025,ODI,2025-03-01,South Africa,England,England,bat,South Africa,46,100,50,0,0,0,"National Stadium, Karachi"
1,1466419,2025,ODI,2025-02-24,New Zealand,Bangladesh,New Zealand,field,New Zealand,73,100,100,0,4,1,"Rawalpindi Cricket Stadium, Rawalpindi"
2,1466418,2025,ODI,2025-02-23,Pakistan,India,Pakistan,bat,India,40,0,0,100,2,4,"Dubai International Cricket Stadium, Dubai"
3,1466417,2025,ODI,2025-02-22,England,Australia,Australia,field,Australia,38,0,0,25,0,2,"Gaddafi Stadium, Lahore"
4,1466415,2025,ODI,2025-02-20,India,Bangladesh,Bangladesh,bat,India,76,100,75,0,4,1,"Dubai International Cricket Stadium, Dubai"

In [3]:
df["event"].unique()

array(['ODI'], dtype=object)

In [5]:
# Filter the DataFrame based on the event
event = input("Enter Event Name: ")

In [6]:
df = df[(df["event"]  == event)]
print("Length of Data Frame: ",len(df))
df[:5]

Length of Data Frame:  2304

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1466424,2025,ODI,2025-03-01,South Africa,England,England,bat,South Africa,46,100,50,0,0,0,"National Stadium, Karachi"
1,1466419,2025,ODI,2025-02-24,New Zealand,Bangladesh,New Zealand,field,New Zealand,73,100,100,0,4,1,"Rawalpindi Cricket Stadium, Rawalpindi"
2,1466418,2025,ODI,2025-02-23,Pakistan,India,Pakistan,bat,India,40,0,0,100,2,4,"Dubai International Cricket Stadium, Dubai"
3,1466417,2025,ODI,2025-02-22,England,Australia,Australia,field,Australia,38,0,0,25,0,2,"Gaddafi Stadium, Lahore"
4,1466415,2025,ODI,2025-02-20,India,Bangladesh,Bangladesh,bat,India,76,100,75,0,4,1,"Dubai International Cricket Stadium, Dubai"

In [7]:
df["team2"].unique()

array(['England', 'Bangladesh', 'India', 'Australia', 'New Zealand',
       'Oman', 'Ireland', 'Namibia', 'Pakistan', 'Netherlands', 'Nepal',
       'Scotland', 'Sri Lanka', 'Canada', 'United Arab Emirates',
       'South Africa', 'West Indies', 'United States Of America',
       'Zimbabwe', 'Jersey', 'Papua New Guinea', 'Hong Kong', 'Kenya',
       'Bermuda', 'Africa Xi'], dtype=object)

In [8]:
df.isnull().sum()

match_id                 0
season                   0
event                    0
match_date               0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
winner                   0
h2h_team1_wins%          0
h2h_venue_team1_wins%    0
team1_venue_wins%        0
team2_venue_wins%        0
team1_last_5_wins        0
team2_last_5_wins        0
ground                   0
dtype: int64

In [9]:
df.columns

Index(['match_id', 'season', 'event', 'match_date', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'winner', 'h2h_team1_wins%',
       'h2h_venue_team1_wins%', 'team1_venue_wins%', 'team2_venue_wins%',
       'team1_last_5_wins', 'team2_last_5_wins', 'ground'],
      dtype='object')

### **Feature Selection**

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

# Load the dataset

summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type.title()}_{gender.lower()}_match_summary_cleaned.csv")

# Filter the DataFrame based on the event
summary_df1 = summary_df[summary_df["event"] == event].copy()

# Encode categorical variables
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'])

# Split dataset into features (X) and target variable (y)
X = X_encoded.drop(columns=['match_id', 'season', 'match_date', "winner", "event_name", "event"])
y = pd.get_dummies(summary_df1['winner'])  # One-hot encoding for multi-class classification

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection - Random Forest
rf_model = RandomForestClassifier()

# Model Training
rf_model.fit(X_train, y_train)

# Get feature importances and sort them
feature_importances = rf_model.feature_importances_
sorted_indices = feature_importances.argsort()[::-1]  # Reverse order to get descending ranks

# Create a DataFrame to store feature names and their ranks
feature_ranks_df = pd.DataFrame({'Feature': X.columns[sorted_indices], 'Rank': range(1, len(X.columns) + 1)})

# Perform feature selection based on feature importances
selector = SelectFromModel(rf_model, threshold='median')
selector.fit(X_train, y_train)

# Transform the datasets to keep only selected features
X_train_selected = selector.transform(X_train)
X_test_selected = selector.transform(X_test)

# Print top 10 feature ranks
print("Top 10 Feature Ranks:")
feature_ranks_df.head(10)

Top 10 Feature Ranks:

                 Feature  Rank
0  h2h_venue_team1_wins%     1
1      team1_venue_wins%     2
2      team2_venue_wins%     3
3      team2_last_5_wins     4
4        h2h_team1_wins%     5
5      team1_last_5_wins     6
6        team2_Australia     7
7            team2_India     8
8          team2_England     9
9        team1_Sri Lanka    10

### **Modelling**

### **Random Forest**

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,classification_report, confusion_matrix, balanced_accuracy_score, f1_score

# Load the dataset
summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{match_type.title()}_{gender.lower()}_match_summary_cleaned.csv")

summary_df1 = summary_df[summary_df["event"] == event].copy()

# Encode categorical variables
le = LabelEncoder()
summary_df1['winner'] = le.fit_transform(summary_df1['winner'])

# Split dataset into features (X) and target variable (y)
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'])
X = X_encoded.drop(columns=[ 'match_id', 'season', 'match_date', "winner", 'event_name', 'event'])
y = summary_df1['winner']

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection - Random Forest
rf_model = RandomForestClassifier()

# Model Training - Random Forest
rf_model.fit(X_train, y_train)

# Model Evaluation - Random Forest
y_pred_rf = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, y_pred_rf)

print("Random Forest Model Evaluation:")
print("--------------------------------------------------")
print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")
# Evaluate the model using advanced metrics
#print("Classification Report:")
#print(classification_report(y_test, y_pred_rf, zero_division=1))

#print("Confusion Matrix:")
#print(confusion_matrix(y_test, y_pred_rf))

#print("Balanced Accuracy Score:")
#balanced_acc = balanced_accuracy_score(y_test, y_pred_rf)
#print(f"Balanced Accuracy: {balanced_acc * 100:.2f}%")

#print("F1 Score:")
#f1 = f1_score(y_test, y_pred_rf, average='weighted')
#print(f"F1 Score: {f1 * 100:.2f}%")

Random Forest Model Evaluation:
--------------------------------------------------
Random Forest Accuracy: 75.05%

### **XGB Classifier**

In [12]:
# Ensure classes are encoded from 0 to n-1
class_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
inverse_class_mapping = {v: k for k, v in class_mapping.items()}

# Split dataset into features (X) and target variable (y)
X_encoded = pd.get_dummies(summary_df1, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'ground'], drop_first=True)
X = X_encoded.drop(columns=[ 'season',  'match_id', 'match_date', "winner", 'event_name', 'event'])
y = summary_df1['winner']

# Realign X to match indices of y (in case any indices were dropped)
X = X.loc[y.index]

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Ensure y_train and y_test contain all classes
missing_classes = set(y.unique()) - set(y_train.unique())
for cls in missing_classes:
    X_train = pd.concat([X_train, X_test[y_test == cls]])
    y_train = pd.concat([y_train, y_test[y_test == cls]])

# Model Selection - XGBoost
xgb_model = XGBClassifier(eval_metric='mlogloss')

# Model Training - XGBoost
xgb_model.fit(X_train, y_train)

# Model Evaluation - XGBoost
y_pred_xgb = xgb_model.predict(X_test)
xgb_accuracy = accuracy_score(y_test, y_pred_xgb)

print("\nXGBoost Model Evaluation:")
print("--------------------------------------------------")
print(f"XGBoost Accuracy: {xgb_accuracy * 100:.2f}%")

XGBoost Model Evaluation:
--------------------------------------------------
XGBoost Accuracy: 75.70%

### **Teams**

In [13]:
# Assuming df is your DataFrame
sorted_teams = sorted(set(df["team1"].unique()).union(set(df["team2"].unique())))

# Create a string with team names side by side
side_by_side = ', '.join(sorted_teams)

side_by_side

'Africa Xi, Asia Xi, Australia, Bangladesh, Bermuda, Canada, England, Hong Kong, Icc World Xi, India, Ireland, Jersey, Kenya, Namibia, Nepal, Netherlands, New Zealand, Oman, Pakistan, Papua New Guinea, Scotland, South Africa, Sri Lanka, United Arab Emirates, United States Of America, West Indies, Zimbabwe'

### **Head-to-Head & Venue Wins**

In [14]:
h2h = df[((df["team1"] == "India") & (df["team2"] == "New Zealand")) | ((df["team1"] == "New Zealand") & (df["team2"] == "India"))  #& (df['ground'] == "Kensington Oval, Barbados, Bridgetown")
                  ].sort_values(by="match_date",ascending=False).reset_index(drop=True)
print("Matches:",len(h2h))
print("Team1 Won:",len(h2h[h2h["team1"] == h2h["winner"]]))

h2h[:10]

Matches: 48
Team1 Won: 21

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1384437,2023,ODI,2023-11-15,New Zealand,India,India,bat,India,44,50,33,16,2,5,"Wankhede Stadium, Mumbai"
1,1384412,2023,ODI,2023-10-22,New Zealand,India,India,field,India,44,0,0,50,2,5,"Himachal Pradesh Cricket Association Stadium, ..."
2,1348648,2023,ODI,2023-01-24,New Zealand,India,New Zealand,field,India,44,0,0,33,1,3,"Holkar Cricket Stadium, Indore"
3,1348647,2023,ODI,2023-01-21,New Zealand,India,India,field,India,44,0,0,100,1,4,Shaheed Veer Narayan Singh International Stadi...
4,1348646,2023,ODI,2023-01-18,New Zealand,India,India,bat,India,44,0,0,33,1,4,"Rajiv Gandhi International Stadium, Uppal, Hyd..."
5,1322278,2022,ODI,2022-11-25,New Zealand,India,New Zealand,field,New Zealand,44,100,21,0,4,4,"Eden Park, Auckland"
6,1187684,2020,ODI,2020-02-11,New Zealand,India,New Zealand,field,New Zealand,44,33,20,66,2,5,"Bay Oval, Mount Maunganui"
7,1187683,2020,ODI,2020-02-08,New Zealand,India,India,field,New Zealand,44,100,21,0,2,5,"Eden Park, Auckland"
8,1187682,2020,ODI,2020-02-05,New Zealand,India,New Zealand,field,New Zealand,44,80,26,16,2,5,"Seddon Park, Hamilton"
9,1144528,2019,ODI,2019-07-10,New Zealand,India,New Zealand,bat,New Zealand,44,100,100,0,4,4,"Old Trafford, Manchester"

### **Prediction**

In [15]:
# Future match data
future_match = pd.DataFrame({
    'team1': ['New Zealand'],
    'team2': ['India'],
    'toss_winner': ['New Zealand'],
    'toss_decision': ['field'],
    'Ground': ['Dubai International Cricket Stadium'],
    'h2h_team1_wins%': [44],
    'h2h_venue_team1_wins%': [50],
    'team1_venue_wins%': [50],
    'team2_venue_wins%': [50],
    'team1_last_5_wins': [2],
    'team2_last_5_wins': [5]
})

# Encode categorical variables and ensure consistent columns with training data
future_match_encoded = pd.get_dummies(future_match, columns=['team1', 'team2', 'toss_winner', 'toss_decision', 'Ground'])

# Add missing columns for 'Ground' feature using the training data as a reference
missing_columns = list(set(X.columns) - set(future_match_encoded.columns))
future_match_encoded = pd.concat([future_match_encoded, pd.DataFrame(0, index=future_match_encoded.index, columns=missing_columns)], axis=1)

# Ensure all columns are in the correct order
future_match_encoded = future_match_encoded[X.columns]

# Make predictions for the future match
future_match_prediction = xgb_model.predict(future_match_encoded)

# Get the predicted winner's team name
predicted_winner_team_name = le.inverse_transform(future_match_prediction)[0]

print("Predicted Winner:", predicted_winner_team_name)

# Add prediction to the future_match DataFrame
future_match['predicted_winner'] = predicted_winner_team_name
future_match['actual_winner'] = " "

future_match.drop(columns=['h2h_team1_wins%', 'h2h_venue_team1_wins%', 'team1_venue_wins%','team2_venue_wins%', 'team1_last_5_wins', 'team2_last_5_wins'], inplace=True)

Predicted Winner: New Zealand

#### **Team1 Performance**

In [16]:
team1_performance = df[((df["team1"] == "Zimbabwe") | (df["team2"] == "Zimbabwe")) #& (df['ground'] == 'Kensington Oval, Barbados, Bridgetown')
                      ].sort_values(by='match_date', ascending=False).reset_index(drop=True)
print("No of Matches: ", len(team1_performance))
team1_performance[:5]

No of Matches:  144

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1425130,2024,T20I,2024-05-12,Zimbabwe,Bangladesh,Zimbabwe,field,Zimbabwe,33,28,25,14,1,3,"Shere Bangla National Stadium, Mirpur, Dhaka"
1,1425129,2024,T20I,2024-05-10,Zimbabwe,Bangladesh,Zimbabwe,field,Bangladesh,33,28,25,14,2,2,"Shere Bangla National Stadium, Mirpur, Dhaka"
2,1425128,2024,T20I,2024-05-07,Zimbabwe,Bangladesh,Zimbabwe,field,Bangladesh,33,0,0,33,3,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."
3,1425127,2024,T20I,2024-05-05,Zimbabwe,Bangladesh,Bangladesh,field,Bangladesh,33,0,0,33,4,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."
4,1425126,2024,T20I,2024-05-03,Zimbabwe,Bangladesh,Bangladesh,field,Bangladesh,33,0,0,33,5,2,"Zahur Ahmed Chowdhury Stadium, Chittagong, Cha..."

#### **Team2 Performance**

In [17]:
team2_performance = df[((df["team1"] == "India") | (df["team2"] == "India"))  #& (df['ground'] == 'Kensington Oval, Barbados, Bridgetown')
                       ].sort_values(by='match_date', ascending=False).reset_index(drop=True)
print("No of Matches: ", len(team2_performance))
team2_performance[:5]

No of Matches:  219

,match_id,season,event,match_date,team1,team2,toss_winner,toss_decision,winner,h2h_team1_wins%,h2h_venue_team1_wins%,team1_venue_wins%,team2_venue_wins%,team1_last_5_wins,team2_last_5_wins,ground
0,1415755,2024,T20I,2024-06-29,South Africa,India,India,bat,India,42,0,0,50,5,5,"Kensington Oval, Barbados, Bridgetown"
1,1415754,2024,T20I,2024-06-27,India,England,England,field,India,54,100,100,0,5,4,"Providence Stadium, Guyana, Providence"
2,1415751,2024,T20I,2024-06-24,India,Australia,Australia,field,India,65,100,100,0,5,4,"Darren Sammy National Cricket Stadium, Gros Is..."
3,1415747,2024,T20I,2024-06-22,India,Bangladesh,Bangladesh,field,India,93,100,100,0,5,4,"Sir Vivian Richards Stadium, North Sound, Antigua"
4,1415743,2024,T20I,2024-06-20,India,Afghanistan,India,bat,India,100,100,50,0,5,1,"Kensington Oval, Barbados, Bridgetown"

In [14]:
# Get unique grounds
grounds = summary_df1["ground"].unique()
grounds_set = set(grounds)

# Take input for the substring
substring = input("Enter the substring: ").strip().lower()

# Filter grounds that contain the given substring
filtered_grounds = [ground for ground in grounds_set if substring in ground.lower()]
                    #] #ground.lower().startswith(substring)

print("Filtered grounds:", filtered_grounds)

Filtered grounds: ['Kensington Oval, Barbados, Bridgetown', 'Trent Bridge, Nottingham']